## test table 생성

DROP TABLE IF EXISTS name_gender;<br>
CREATE TABLE name_gender (<br>
&nbsp;&nbsp;&nbsp;   name varchar(32),<br>
&nbsp;&nbsp;&nbsp;   gender varchar(8)<br>
);

In [1]:
from config import REDSHIFT_INFO, DATA_LINK
import psycopg2


def get_redshift_connection(dbinfo):
    
    conn = psycopg2.connect(
        "dbname={dbname} user={user} host={host} password={password} port={port}".format(
        **dbinfo
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

# ETL 함수를 하나씩 정의

In [2]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)


def transform(text):
    lines = text.split("\n")
    return lines


def load(lines):
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    # BEGIN;DELETE FROM (본인의스키마).name_gender;INSERT INTO TABLE VALUES ('KEEYONG', 'MALE');....;END;
    cur = get_redshift_connection()
    for r in lines:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "INSERT INTO kjk6646.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
            print(sql)
            cur.execute(sql)

## Extract - Transform - Load

In [19]:
data = extract(DATA_LINK)
lines = transform(data)
load(lines)

In [22]:
%%sql

SELECT *
FROM kjk6646.name_gender limit 5;

 * postgresql://kjk6646:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('name', 'gender'),
 ('Adaleigh', 'F'),
 ('Amryn', 'Unisex'),
 ('Apurva', 'Unisex'),
 ('Aryion', 'M')]